* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden; /* won't scroll i think */

    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    
}

/* for making view port default at 489 and 479 */




#background {
    width: 2638px; 
    height: 2075px;
    position: absolute;
    left: -679px; /* I want it to start at this x location and y for the top below corresponsing to my figma sketch */ /* trial 2 - need to add around 200px?? */
    top: -659px; 
    z-index: 0;

    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;

    
}


.grid-cell {
    border: 1px dashed rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
}


.grid-cell-first {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 10;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: #ffffff;
    font-family: 'Red Hat Mono', monospace; 
    font-size: 24px;
    padding-left: 5px;
}

#subtitle {
    font-size: 18px;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.337);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; /*??*/
    flex-wrap: wrap;
    border-radius: 1%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.254);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* idk???? */
    margin-top: 10px;
    margin-right: 10px;

}


.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 2px;
    cursor: crosshair;
    
    /* position: absolute;  */
    margin-right: 5px; 

    transition: transform 0.5s ease; /* like floaring maybe */
}



/* the the icon's info */
.hidden {
    display: none;
}

.icon-content {
    font-size: 12pt;
}

#infoBox {
    width: 300px;
    height: 500px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; /* Above other elements */
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
}


/* .container {
    position: relative;
    width: 2638px; 
    height: 2075px;
  } */

.division {
    position: absolute;
    width: 100%; 
    height: 100%; 
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}

img {
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    pointer-events: none;
}




#div1_TD {
    background: #fe9a9a;
    clip-path: polygon(872.057px 0px, 1353px 781px, 946.242px 1072px, 0px 912px, 0px 0px);
}


#TD_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 


    
}




#TD_background {
    object-fit: scale-down;
    z-index: 1;
    opacity: 0.3;
    
}

#TD_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 300px;
    left: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;


    background-color: rgba(255, 179, 179, 0.568);
    
}



#TD_link {
    display: none; 
}



#div2_SG {

    background: #FF7A00; 
    clip-path: polygon(953px 1101px, 1693px 1322px, 797.5px 2075px, 0px 2075px, 0px 924px, 953px 1101px);

}

#SG_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 


    
}


#SG_background {
    justify-content: left;
    z-index: 1;
    opacity: 0.3;
    
    padding-top: 950px;
    padding-right: 900px;
    align-items: baseline;
}

#SG_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 1200px;
    left: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(255, 197, 136, 0.568);

    
}



#SG_link {
    display: none; 
}







#div3_H {
    background: #fff598; 
    clip-path: polygon(2638px 0px, 2638px 552px, 1358.5px 779.5px, 884.5px 0px);
    
    
}

#H_background_overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 

}

#H_background {
    object-fit: contain;
    justify-content: right;
    z-index: 1;
    opacity: 0.3;
    right: 0px;
    padding-left: 100px;
}

#H_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 155px;
    left: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    background-color: rgba(249, 255, 181, 0.568);
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    

    
}



#H_link {
    display: none; 
}


#div4_K {
    background: #b0fcb7; 
    clip-path: polygon(2638px 561px, 2638px 1191px, 1705px 1309.5px, 952.5px 1082.5px, 1357px 784.5px, 2638px 561px);
    
    
}

#K_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 

}

#K_background {
    object-position: right;
    object-fit: scale-down;
    z-index: 1;
    opacity: 0.3;
    scale: 91%;
    padding-top: 550px;
    padding-left: 860px;
}

#K_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 700px;
    left: 1800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    background-color: rgba(185, 255, 184, 0.568);
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    

    
}



#K_link {
    display: none; 
}



#div5_P {
   
    background: #a1d8ff; 
    clip-path: polygon(1712px 1325px, 2638px 1198px, 2638px 2075px, 812px 2075px, 1712px 1325px);
}

#P_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 

}

#P_background {
    
    object-fit: scale-down;
    z-index: 1;
    opacity: 0.3;
    justify-content: end bottom;
    scale: 77%;
    padding-top: 1168px;
    padding-left: 750px;
}




#P_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 1500px;
    left: 1800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    background-color: rgba(178, 231, 255, 0.568);
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    

    
}



#P_link {
    display: none; 
}






@media screen and (max-width: 600px) {
    
}




