* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden; /* won't scroll i think */

    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    
}

/*starting instruction*/
.notification {
    position: fixed; 
    top: 110px; /* Place it slightly from the top */
    right: 250px; /* Place it to the right */
    background-color: rgba(160, 160, 160, 0.715); 
    color: rgb(255, 255, 255); 
    padding: 20px; 
    border: 1px dashed #ddd; 
    z-index: 1000; 
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2); 
    border-radius: 2.5%;
    width: 900px; 
    height: 550px;
    font-family: 'Red Hat Mono', monospace; 
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 420px;
    right: 350px;
    font-size: 35px;
    inline-size: 40px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5%;
    
    padding-left: 5px;
    padding-top: 17px;
    text-align: center;
    height: 80px;
    width: 180px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.253);
}

.notification p {
    margin: 0; /* Remove default margin of <p> */
}



#welcome {
    font-size: 24pt;
    font-weight: 200;
}

#opening {
    font-size: 16pt;
    font-weight: ;
}

#tips {
    font-size: 15pt;
    font-weight: ;
}




/* for making view port default at 489 and 479 */
#background {
    width: 2638px; 
    height: 2075px;
    position: absolute;
    left: -769px; /* I want it to start at this x location and y for the top below corresponsing to my figma sketch */ /* trial 2 - need to add around 200px?? */  /* originally want this location - left: -679px;  top: -659px; but redo the layout again */
    
    top: -754px; 
    z-index: 0;

    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;

    background-color: #eeeeee65;
    
}


.grid-cell {
    border: 1px dashed rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}


.grid-cell-first {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 10;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: #ffffff;
    font-family: 'Red Hat Mono', monospace; 
    font-size: 24px;
    padding: 5px;

}

#subtitle {
    font-size: 18px;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center; /*??*/
   
    border-radius: 1%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.254);
    
    flex-direction: row;
    flex-wrap: wrap; /* idk???? */
    margin-top: 10px;
    margin-right: 10px;
    
}

#icon_help_Q {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 118, 118, 0.654);
    color: white;
    text-align: center;
    line-height: 30px;
    
    cursor: crosshair;
    border: 1px solid rgb(255, 255, 255);
    /* position: absolute;  */
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.625);
    
    overflow: hidden;
   
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;

    
}


#icon_reset_R {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 123, 255, 0.654); /* Different color for distinction */
    color: white;
    text-align: center;
    line-height: 30px;
    
    cursor: pointer; /* Change to pointer to indicate clickability */
    border: 1px solid rgb(255, 255, 255);
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.625);
    
    overflow: hidden;
   
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}



.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(201, 201, 255);
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 2px;
    cursor: crosshair;
    
    /* position: absolute;  */
    margin-right: 5px; 

    transition: transform 0.5s ease; /* like floaring maybe */
    background-size: cover;
    background-image: cover;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   
    border: 1px solid rgba(144, 144, 144, 0.407);
    
}

.icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    border: 15px white;
    scale: 110%;
    
}



/* the the icon's info */
.hidden {
    display: none;
}

.icon-content {
   ???
    
}

#infoBox {
    width: 300px;
    height: 500px;
    position: fixed;
    left: 10px;
    top: 120px;
    z-index: 100; /* Above other elements */
    background-color: rgba(132, 132, 132, 0.727);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */

    color: #ffffff;
    font-family: 'Red Hat Mono', monospace; 

    

}

.info_title {
    font-size: 20pt;
    text-transform: uppercase;
    
}

.info_subitle {
    font-size: 16pt;
    font-weight: ;
}

.info_role {
    font-size: 9pt;
    font-weight: ;
    
}
.info_description {
    font-size: 10pt;
    font-weight: ;
    
}







.copyright-notice {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: #FFFFFF;
    font-family: 'Red Hat Mono', monospace; 
    font-size: 10px; 
    padding: 5px; 
    text-align: right;
}













/* .container {
    position: relative;
    width: 2638px; 
    height: 2075px;
  } */

.division {
    position: absolute;
    width: 100%; 
    height: 100%; 
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;

    /* so that the hover enlarge will looks more normal*/
    transition: transform 0.3s ease-in-out;
    
    /* idk why shadows don't show Q_Q */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#div1_TD:hover, #div2_SG:hover, #div3_H:hover, #div4_K:hover, #div5_P:hover {
    transform: scale(1.01);
    
}


img {
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    pointer-events: none;
}




#div1_TD {
    background: #fe9a9a;
    clip-path: polygon(872.057px 0px, 1353px 781px, 946.242px 1072px, 0px 912px, 0px 0px);
    
}


#TD_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 


    
}




#TD_background {
    object-fit: scale-down;
    z-index: 1;
    opacity: 0.3;
    
}

#TD_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 300px;
    left: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;


    background-color: rgba(255, 179, 179, 0.568);
    
}


#TD_pickdroplot:hover::after {
    content: "Grab 3 TRUE DAMAGE Champions here!"; 
    position: absolute; 
    width: 100%; 
    bottom: 0px; 
    left: 0; 
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    text-align: center; 
    font-size: 18px; 
    border-radius: 2%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: -10;
    height: 490px;
    width: 740px;
}




#TD_link {
    display: none; 
}



#div2_SG {

    background: #FF7A00; 
    clip-path: polygon(953px 1101px, 1693px 1322px, 797.5px 2075px, 0px 2075px, 0px 924px, 953px 1101px);

}

#SG_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 


    
}


#SG_background {
    justify-content: left;
    z-index: 1;
    opacity: 0.3;
    scale: 108%;
    padding-top: 930px;
    padding-right: 900px;
    align-items: baseline;
}

#SG_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 1200px;
    left: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(255, 197, 136, 0.568);

    
}

#SG_pickdroplot:hover::after {
    content: "Grab 3 STAR GUARDIAN Champions here!"; 
    position: absolute; 
    width: 100%; 
    bottom: 0px; 
    left: 0; 
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    text-align: center; 
    font-size: 18px; 
    border-radius: 2%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: -10;
    height: 490px;
    width: 740px;
}

#SG_link {
    display: none; 
}







#div3_H {
    background: #fff598; 
    clip-path: polygon(2638px 0px, 2638px 552px, 1358.5px 779.5px, 884.5px 0px);
    
    
}

#H_background_overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 

}

#H_background {
    object-fit: contain;
    justify-content: right;
    z-index: 1;
    opacity: 0.3;
    right: 0px;
    padding-left: 100px;
}

#H_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 155px;
    left: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: -10px;
    border-radius: 2%;
    background-color: rgba(249, 255, 181, 0.568);
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    

    
}


#H_pickdroplot:hover::after {
    content: "Grab 3 HEARTSTEEL Champions here!"; 
    position: absolute; 
    width: 100%; 
    bottom: 0px; 
    left: 0; 
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    text-align: center; 
    font-size: 18px; 
    border-radius: 2%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: 10;
    height: 490px;
    width: 740px;
}



#H_link {
    display: none; 
}


#div4_K {
    background: #b0fcb7; 
    clip-path: polygon(2638px 561px, 2638px 1191px, 1705px 1309.5px, 952.5px 1082.5px, 1357px 784.5px, 2638px 561px);
    
    
}

#K_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 

}

#K_background {
    object-position: right;
    object-fit: scale-down;
    z-index: 1;
    opacity: 0.3;
    scale: 91%;
    padding-top: 550px;
    padding-left: 860px;
}

#K_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 700px;
    left: 1800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    background-color: rgba(185, 255, 184, 0.568);
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    

    
}


#K_pickdroplot:hover::after {
    content: "Grab 3 K/DA Champions here!"; 
    position: absolute; 
    width: 100%; 
    bottom: 0px; 
    left: 0; 
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    text-align: center; 
    font-size: 18px; 
    border-radius: 2%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: -10;
    height: 490px;
    width: 740px;
}



#K_link {
    display: none; 
}



#div5_P {
   
    background: #a1d8ff; 
    clip-path: polygon(1712px 1325px, 2638px 1198px, 2638px 2075px, 812px 2075px, 1712px 1325px);
}

#P_background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3); 
    z-index: 0; 

}

#P_background {
    
    object-fit: scale-down;
    z-index: 1;
    opacity: 0.3;
    justify-content: end bottom;
    scale: 77%;
    padding-top: 1168px;
    padding-left: 750px;
}




#P_pickdroplot {
    height: 500px;
    width: 750px;
    z-index: 1;
    position: absolute;
    top: 1500px;
    left: 1800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: azure;
    font-size: 24pt;
    font-family:'Red Hat Mono', monospace;
    padding: 10px;
    border-radius: 2%;
    background-color: rgba(178, 231, 255, 0.568);
    justify-content: center;

    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    

    
}


#P_pickdroplot:hover::after {
    content: "Grab 3 PENTAKILL Champions here!"; 
    position: absolute; 
    width: 100%; 
    bottom: 0px; 
    left: 0; 
    padding: 5px; 
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    text-align: center; 
    font-size: 18px; 
    border-radius: 2%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    z-index: -10;
    height: 490px;
    width: 740px;
}



#P_link {
    display: none; 
}


/* wrong one pop out text*/



@media screen and (max-width: 600px) {
    
}




