* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, 
html{
    font-family: 'Roboto', sans-serif;
}

nav {
    /* Define the height of the navigation bar in pixels */
    height: 60px;
    background-color: green;

}

ul.flex-container {
  /* This is the parent element where you will set display:flex  */
  display: flex;
  justify-content: space-around;

  list-style: none; /*to get rid of the bullet list */
  background: tomato;
  line-height: 60px; /* vertically center text */
  ;
}

a {
    /* These are the children elements */
    color:rgb(255, 255, 255);
    text-decoration: none;
}
